@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap);

body {
   font-family: 'IBM Plex Mono', monospace;
   margin: 0;
   padding: 0;
}

header {
    display: inline;
}

main {
    padding: 30px;
    overflow: auto;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #F7A440;
    text-align: center;
    color: black;
    margin: 20px;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav {
    background-color: #F6DCBF;
    padding: 0px;
    position: sticky;
    top: 0;
    margin-left: 20px;
    margin-right: 20px;
}

nav a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

nav a:hover {
    font-weight: bold;
}

h2, h3 {
    color: black;
}

.profile header {
    text-align: center;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.profile img {
    width: 200px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background-color: white;
}

.shadow-box {
    border: 3px solid black;
    box-shadow: 0.6rem 0.6rem 0 #222;
    border-radius: 0.25rem;
}

* {
    box-sizing: border-box;
}

#content {
    float: left;
    width: 74%;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}

footer {
    padding: 20px;
    color: black;
    background-color: white;
    text-align: center;
    font-weight: bold;
}
.moreText {
    display: none;
}
.read-more-btn {
    padding: 10px 50px;
    background-color: rgb(149, 170, 197);
    color: rgb(53, 49, 49);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.read-more-btn:active {
    box-shadow: 0 0 0 white;
    margin: 6px 10px 2px 10px;
}

.text.show-more .moreText {
    display: inline;
}
.text.show-more .dots {
    display: none;
}

@media screen and (max-width: 1000px) {
    #content,
    aside,
    .read-more-btn {
        width: 100%;
        padding: 0;
    }

    .read-more-btn {
        font-size: 15px;
        padding: 5px;
    }

    nav li {
        margin-right: 10px;
    }

    nav a {
        font-size: 12px;
    }

}
